# Local development notes
init-info.md
validation-plan.md

# Misc
data/*
!data/.gitkeep

# Development tools
CLAUDE.md
*.cph
.venv
*__pycache__
*.vscode

# Build files
cpp/build/

# IO files
*.in
*.out